<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Expense</title>
</head>
<body>
    <!-- The method="POST" means: when submitted, send the form data to Flask -->
    <!-- date , amount, category , note -->
    <!-- name attribute stores it like a dic like date: entered date -->
    <form method="post" action="/add">
    <label>Date: </label><br>
    <input type="date" name="date"><br><br>  
    <label>Amount: </label><br>
    <input type="text" name="amount"><br><br>  
    <label>Category: </label><br>
    <input type="text" name="category"><br><br>  
    <label>Note: </label><br>
    <input type="text" name="note"><br><br>  
    <input type="submit" value="Add Expense"><br>
    </form><br>
    <a href="/view">View Expenses</a> <br><br>
    <a href="/clear">Clear Expenses</a> <br><br>
    <a href="/download" download>
    <button type="button">📥 Download CSV</button><br></a>
</body>
</html>